body {
}

.avatar-home {
	width: 180px;
}

.page-title {
	border-bottom: 1px #EEE solid;
	padding-bottom: 0;
	margin-bottom: 0px;
}

.project {
	min-height: 240px;
}

.btn-linkedin {
	color: #4875B4;
}

.clearfix {
  clear: both;
}
