body {
	padding-top: 70px;
}

.avatar-home {
	width: 180px;
}

.page .title {
	border-bottom: 1px #EEE solid;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.color-github {
	color: #000;
}

.color-facebook {
	color: #3B5998;
}

.color-linkedin {
	color: #4875B4;
}

.clearfix {
  clear: both;
}